@using ProjectAkbas.Models
@model ProformaMaliyetViewModel

<link href="~/css/bootstrap.css" rel="stylesheet">
<style>
    .table-responsive {
        overflow-x: auto;
    }

    .table {
        margin: 0;
        width: 100%;
    }

    .container {
        padding: 0;
        width: 100%;
        max-width: 100%;
    }

    .pagination {
        margin: 0;
    }

    th, td {
        text-align: center;
        vertical-align: middle;
    }

    th {
        background-color: #f8f9fa;
    }

    .header-group {
        background-color: #e9ecef;
    }
</style>

<table class="table table-hover">
    <thead>
        <tr>
            <th rowspan="2">ID</th>
            <th rowspan="2">Mal Grubu</th>
            <th rowspan="2">Sıra Benzer Kumaş</th>
            <th rowspan="2">Kumaş Kodu</th>
            <th rowspan="2">Kumaş Kalitesi</th>
            <th rowspan="2">Ham Kumaş Fiyatı (Mt)</th>
            <th rowspan="2">Grup Adı</th>
            <th rowspan="2">EN</th>
            <th rowspan="2">GRM</th>
            <th rowspan="2">DokumaOrme</th>
            <th rowspan="2">StokMiktarı</th>
            <th colspan="3" class="header-group">COST DOMESTIC</th>
            <th colspan="3" class="header-group">DOMESTIC PRICE</th>
            <th rowspan="2">Qualities</th>
            <th rowspan="2">Siparişte</th>
            <th rowspan="2">Zgroup</th>
            <th rowspan="2">Antrepoda</th>
        </tr>
        <tr>
            <th>DYEING</th>
            <th>ROTARY</th>
            <th>DIGITAL</th>
            <th>DYEING</th>
            <th>ROTARY</th>
            <th>DIGITAL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.ProformaMaliyetler.GroupBy(p => p.KumasKodu))
        {
            var firstItem = group.First();

            <tr>
                <td>@firstItem.IDD</td>
                <td>@firstItem.MalGrubu</td>
                <td>@firstItem.SiraBenzerKumas</td>
                <td>@firstItem.KumasKodu</td>
                <td>@firstItem.KumasKalitesi</td>
                <td>@firstItem.HamKumasFiyatiMt</td>
                <td>
                    @if (!string.IsNullOrWhiteSpace(firstItem.ZKOMP_ORM1) && firstItem.ZKOMP_ORM1 != "0" && firstItem.ZKOMP_ORM1 != "000")
                    {
                        @firstItem.ZKOMP_ORM1
                        @if (!string.IsNullOrWhiteSpace(firstItem.ZKOMP_ORM_ORAN1) && firstItem.ZKOMP_ORM_ORAN1 != "0" && firstItem.ZKOMP_ORM_ORAN1 != "000")
                        {
                            @($"%{int.Parse(firstItem.ZKOMP_ORM_ORAN1)}")
                        }
                    }
                    @if (!string.IsNullOrWhiteSpace(firstItem.ZKOMP_ORM2) && firstItem.ZKOMP_ORM2 != "0" && firstItem.ZKOMP_ORM2 != "000")
                    {
                        @firstItem.ZKOMP_ORM2
                        @if (!string.IsNullOrWhiteSpace(firstItem.ZKOMP_ORM_ORAN2) && firstItem.ZKOMP_ORM_ORAN2 != "0" && firstItem.ZKOMP_ORM_ORAN2 != "000")
                        {
                            @($"%{int.Parse(firstItem.ZKOMP_ORM_ORAN2)}")
                        }
                    }
                    @if (!string.IsNullOrWhiteSpace(firstItem.ZKOMP_ORM3) && firstItem.ZKOMP_ORM3 != "0" && firstItem.ZKOMP_ORM3 != "000")
                    {
                        @firstItem.ZKOMP_ORM3
                        @if (!string.IsNullOrWhiteSpace(firstItem.ZKOMP_ORM_ORAN3) && firstItem.ZKOMP_ORM_ORAN3 != "0" && firstItem.ZKOMP_ORM_ORAN3 != "000")
                        {
                            @($"%{int.Parse(firstItem.ZKOMP_ORM_ORAN3)}")
                        }
                    }
                    @if (!string.IsNullOrWhiteSpace(firstItem.ZKOMP_ORM4) && firstItem.ZKOMP_ORM4 != "0" && firstItem.ZKOMP_ORM4 != "000")
                    {
                        @firstItem.ZKOMP_ORM4
                        @if (!string.IsNullOrWhiteSpace(firstItem.ZKOMP_ORM_ORAN4) && firstItem.ZKOMP_ORM_ORAN4 != "0" && firstItem.ZKOMP_ORM_ORAN4 != "000")
                        {
                            @($"%{int.Parse(firstItem.ZKOMP_ORM_ORAN4)}")
                        }
                    }
                    @if (!string.IsNullOrWhiteSpace(firstItem.ZKOMP_ORM5) && firstItem.ZKOMP_ORM5 != "0" && firstItem.ZKOMP_ORM5 != "000")
                    {
                        @firstItem.ZKOMP_ORM5
                        @if (!string.IsNullOrWhiteSpace(firstItem.ZKOMP_ORM_ORAN5) && firstItem.ZKOMP_ORM_ORAN5 != "0" && firstItem.ZKOMP_ORM_ORAN5 != "000")
                        {
                            @($"%{int.Parse(firstItem.ZKOMP_ORM_ORAN5)}")
                        }
                    }
                </td>
                <td>@firstItem.ZMML_EN</td>
                <td>@firstItem.ZMML_GRM</td>
                <td>@firstItem.DokumaOrme</td>
                <td>@firstItem.StokMiktarı</td>
                

                <td>
                    @foreach (var item in group)
                    {
                        if (item.Islem == "Düz Boya")
                        {
                            <div>@item.YurtDisiDolarMetre</div>
                        }
                    }
                </td>
                <td>
                    @foreach (var item in group)
                    {
                        if (item.Islem == "Baskı")
                        {
                            <div>@item.YurtDisiDolarMetre</div>
                        }
                    }
                </td>
                <td>
                    @foreach (var item in group)
                    {
                        if (item.Islem == "Dijital Baskı")
                        {
                            <div>@item.YurtDisiDolarMetre</div>
                        }
                    }
                </td>

                <td>
                    @foreach (var item in group)
                    {
                        if (item.Islem == "Düz Boya")
                        {
                            <div>@item.YurticiDolarMetre</div>
                        }
                    }
                </td>
                <td>
                    @foreach (var item in group)
                    {
                        if (item.Islem == "Baskı")
                        {
                            <div>@item.YurticiDolarMetre</div>
                        }
                    }
                </td>
                <td>
                    @foreach (var item in group)
                    {
                        if (item.Islem == "Dijital Baskı")
                        {
                            <div>@item.YurticiDolarMetre</div>
                        }
                    }
                </td>

                <td>@firstItem.Qualities</td>
                <td>@firstItem.Sipariste</td>
                <td>@firstItem.ZGRUP</td>
                <td>@firstItem.Antrepoda</td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-center mt-4">
    <ul class="pagination">
        <li class="page-item @(Model.PagingInfo.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", new { pageNumber = Model.PagingInfo.CurrentPage - 1 })">Previous</a>
        </li>
        @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
        {
            if (i >= Model.PagingInfo.CurrentPage - 2 && i <= Model.PagingInfo.CurrentPage + 2)
            {
                <li class="page-item @(Model.PagingInfo.CurrentPage == i ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = i })">@i</a>
                </li>
            }
        }
        <li class="page-item @(Model.PagingInfo.CurrentPage == Model.PagingInfo.TotalPages ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", new { pageNumber = Model.PagingInfo.CurrentPage + 1 })">Next</a>
        </li>
    </ul>
</div>